DB_NAME=auth_db #название базы данных
DB_USER=auth_user #имя пользователя бд
DB_PASSWORD=123qwe #пароль пользователя бд
DB_HOST=localhost #host базы данных
DB_PORT=5432  #port базы данных
REDIS_HOST=localhost
REDIS_PORT=6379
LOGLEVEL=DEBUG
SECRET_KEY=test-key
PUBLIC_KEY=test-key.pub
YANDEX_CLIENT_ID=7cc27639011f495a90d3411da358dad7
YANDEX_CLIENT_SECRET=97898319e43c4793b84582321c2b1f0e
DEBUG=True
GOOGLE_CLIENT_ID=892855006109-utme34664i706s17j0f2ihrbqu139fba.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
YANDEX_CLIENT_ID=7cc27639011f495a90d3411da358dad7
YANDEX_CLIENT_SECRET=97898319e43c4793b84582321c2b1f0e
VK_CLIENT_ID=51671756
VK_CLIENT_SECRET=NlgqXSq0C9KLxvqkaUlF
